{% extends 'index/base.html' %}
{% load static %}
{% block title %}
Страница авторизации
{% endblock %}
{% block content %}
       <div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
           <div class="parking">
                 <center><h1>Вход в личный кабинет</h1></center>
           </div>
       <center><input type="text" class="form-control" id="phonenumber" aria-describedby="emailHelp">
           <button type="button" class="btn btn-info" id="buttonsms">Отправить SMS</button><br><br>
   <input type="text" class="form-control" id="code" style="opacity:0" placeholder="Введите код из SMS" aria-describedby="emailHelp">
                    <button type="button" class="btn btn-info" style="opacity:0" id="buttoncode">Войти</button>
                    <div id="errorMess" style="color:red"></div>
             </div>
      <div class="col-sm-3">
    </div>
       </div>
{% endblock %}
           {% block js %}
<script src="{% static 'index/js/avtorization.js' %}"></script>
{% endblock %}