{% load static %}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
</head>
<body>
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <img src="{% static 'index/img/parking-car.svg' %}" alt="Лого">
  <a class="navbar-brand logo" href="#">Оплата парковок</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Главная<li class="nav-item active"></li></a>
     <!--   <a href=""><li><i class="fas fa-address-card"></i> О нас<li class="nav-item active"></li></a> !-->
         <a href="{% url 'pricingplans' %}"><li><i class="fas fa-money-bill-wave-alt"></i> Тарифы<li class="nav-item active"></li></a>
         <a href="{% url 'payment' %}"><li><i class="fas fa-ruble-sign"></i> Оплата<li class="nav-item active"></li></a>
               <div class="personal_account"><a href="{% url 'authorization' %}"><li><i class="fas fa-user-circle"></i> Личный кабинет<li class="nav-item active"></li></a></div>
    </ul>
  </div>
</nav>
</header>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</body>
</html>
  <center><h1 class="parking">Вы вышли из личного кабинета</h1></center>