{% extends 'index/base.html' %}
{% load static %}
{% block title %}
Страница оплаты абонемента
{% endblock %}
{% block content %}
              <div class="container">
      <center>
          <h3 class="label_parking">Оплата абонемента</h3>
                 <a class="btn btn-info" href="{% url 'payment' %}" role="button">Перейти к оплате парковки</a>
      <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        {% for field in formtickets %}
                                                      {% if field.errors %}
                                                          <div class="alert alert-danger">
                                                          {{ field.errors }}
                                                          </div>
                                        {% endif %}
                                                            {% endfor %}
          <div class="block">
<form  action="" class="form" method="post" name="myForm">
      <center>
      {% csrf_token %}
          <h5>Наименование абонемента</h5>
            {{ form.not_field.errors }}
   <label for="{{ formtickets.nametickets.id_for_label }}" id="select"></label>
      {{ formtickets.nametickets }}
      <div class="invalid-feedback">
      {{ formtickets.nametickets.errors }}
      </div>

                        <div class="form-group">
                        <h5>Регистрационный номер автомобиля</h5>
    <label for="{{ formtickets.carnumber.id_for_label }}"></label>
      {{ formtickets.carnumber }}
      <div class="invalid-feedback">
      {{ formtickets.carnumber.errors }}
      </div>
  </div>
             <div class="form-group">
                        <h5>Цена</h5>
    <label for="{{ formtickets.price.id_for_label }}"></label>
      {{ formtickets.price }}
      <div class="invalid-feedback">
      {{ formtickets.price.errors }}
      </div>
  </div>
            <div class="form-group">
                <h5>Номер телефона</h5>
    <label for="{{ formtickets.telephone.id_for_label }}"></label>
      {{ formtickets.telephone }}
      <div class="invalid-feedback">
      {{ formtickets.telephone.errors }}
      </div>
  </div>
                                    <div class="form-group">
                <h5>Электронный адрес</h5>
    <label for="{{ formtickets.email.id_for_label }}"></label>
      {{ formtickets.email }}
      <div class="invalid-feedback">
      {{ formtickets.email.errors }}
      </div>
  </div>
                        <div class="form-group">
                    <h5>Дата начала срока действия</h5>
      <label for="{{ formtickets.expirationdate.id_for_label }}"></label>
      {{ formtickets.expirationdate }}
      <div class="invalid-feedback">
      {{ formtickets.expirationdate.errors }}
      </div>
  </div>
                                                                <div class="form-group">
                    <h5>Время начала срока действия</h5>
      <label for="{{ formtickets.expirationtime.id_for_label }}"></label>
      {{ formtickets.expirationtime }}
      <div class="invalid-feedback">
      {{ formtickets.expirationtime.errors }}
      </div>
  </div>
                              <div class="form-group">
            <h5>Окончание срока действия</h5>
      <label for="{{ formtickets.enddateandtime.id_for_label }}"></label>
      {{ formtickets.enddateandtime }}
      <div class="invalid-feedback">
      {{ formtickets.enddateandtime.errors }}
      </div>
  </div>

            <div id="errorMess"></div>
           <button type="submit" class="btn btn-info" id="button">Перейти к оплате</button>
        </div>
    </div>
     </div>
    <div class="col-sm-3">
    </div>
  </div>
    </div>
      </center>
</form>
    </div>
{% endblock %}
{% block js %}
<script src="{% static 'index/js/paymenttickets.js' %}"></script>
{% endblock %}
