{% extends 'index/base.html' %}
{% load static %}
{% block title %}
Страница оплаты парковки
{% endblock %}
{% block content %}
              <div class="container">
      <center>
           <h3 class="label_parking">Оплата парковки</h3>
                 <a class="btn btn-info" href="{% url 'paymenttickets' %}" role="button">Перейти к оплате абонемента</a>
      <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
                                                  {% for field in formparking %}
                                                      {% if field.errors %}
                                                          <div class="alert alert-danger">
                                                          {{ field.errors }}
                                                          </div>
                                        {% endif %}
                                                            {% endfor %}
          <div class="block">
<form  action="" class="form" method="post" name="myForm">
      <center>
      {% csrf_token %}
                <h5>Адрес парковки
                                               <div class="form-group">
   <label for="{{ formparking.adress.id_for_label }}" id="select"></label>
      {{ formparking.adress }}
      <div class="invalid-feedback">
      {{ formparking.adress.errors }}
      </div>
                                               </div>

                           <div class="form-group">
                        <h5>Регистрационный номер автомобиля</h5>
    <label for="{{ formparking.carnumber.id_for_label }}"></label>
      {{ formparking.carnumber }}
      <div class="invalid-feedback">
      {{ formparking.carnumber.errors }}
      </div>
  </div>
             <div class="form-group">
                                  <h5>Количество времени</h5>
    <label for="{{ formparking.amountoftime.id_for_label }}"></label>
      {{ formparking.amountoftime }}
      <div class="invalid-feedback">
      {{ form.amountoftime.errors }}
      </div>
  </div>
            <div class="form-group">
                                <h5>Цена</h5>
    <label for="{{ formparking.price.id_for_label }}"></label>
      {{ formparking.price }}
      <div class="invalid-feedback">
      {{ formparking.price.errors }}
      </div>
  </div>
                                    <div class="form-group">
                    <h5>Номер телефона</h5>
    <label for="{{ formparking.telephone.id_for_label }}"></label>
      {{ formparking.telephone }}
      <div class="invalid-feedback">
          <div class="form-error">{{ formparking.telephone.errors }}</div>
      </div>
  </div>
            <div class="form-group">
                     <h5>Электронный адрес</h5>
    <label for="{{ formparking.email.id_for_label }}"></label>
      {{ formparking.email }}
      <div class="invalid-feedback">
      {{ formparking.email.errors }}
      </div>
  </div>
               <div class="form-group">
                    <h5>Дата начала срока действия</h5>
      <label for="{{ formparking.expirationdate.id_for_label }}"></label>
      {{ formparking.expirationdate }}
      <div class="invalid-feedback">
      {{ formparking.expirationdate.errors }}
      </div>
  </div>
                                                                                    <div class="form-group">
                    <h5>Время начала срока действия</h5>
      <label for="{{ formparking.expirationtime.id_for_label }}"></label>
      {{ formparking.expirationtime }}
      <div class="invalid-feedback">
      {{ formparking.expirationtime.errors }}
      </div>
  </div>

                              <div class="form-group">
            <h5>Окончание срока действия</h5>
      <label for="{{ formparking.enddateandtime.id_for_label }}"></label>
      {{ formparking.enddateandtime }}
      <div class="invalid-feedback">
      {{ formparking.enddateandtime.errors }}
      </div>
  </div>
            <div id="errorMess"></div>
           <button type="submit" class="btn btn-info" id="button">Перейти к оплате</button>
        </div>
    </div>
     </div>
    <div class="col-sm-3">
    </div>
  </div>
    </div>
      </center>
</form>
    </div>
{% endblock %}
{% block js %}
<script src="{% static 'index/js/payment.js' %}"></script>
{% endblock %}
