{% load static %}
{% if "phonenumber" in request.session %}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
</head>
<body>
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <img src="{% static 'index/img/parking-car.svg' %}" alt="Лого">
  <a class="navbar-brand logo" href="#">Оплата парковок</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
               <div class="personal_account"><a id="exit"><li><i class="fas fa-user-circle"></i> Выйти из личного кабинета<li class="nav-item active"></li></a></div>
    </ul>
  </div>
</nav>
</header>
  <center><h1 class="parking">История оплат</h1></center><br>
  <center><h3 style="color:white">Оплата парковок</h3></center>
 {% for item in paymentparking %}
          <div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
              <div class="block">
        <div class="adress"><center><h3>Адрес парковки: {{ item.adress }}</h3></center></div>
                  <div class="adress"><h4>Номер авомобиля: {{ item.carnumber }}</h4></div>
                  <div class="adress"><h4>Количество времени: {{ item.amountoftime }}</h4></div>
                  <div class="adress"><h4>Цена: {{ item.price }}</h4></div>
                  <div class="adress"><h4>Дата и время оплаты: {{ item.datetimepaidparking }}</h4></div>
                  <div class="adress"><h4>Начало срока действия: {{ item.startofvalidityperiod  }}</h4></div>
                  <div class="adress"><h4>Окончание срока действия: {{ item.expirationdate  }}</h4></div>
        </div>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>
            {% endfor %}
  <br><center><h3 style="color:white">Оплата абонементов</h3></center>
 {% for item in paymenttickets %}
          <div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
              <div class="block">
        <div class="adress"><center><h3>Наименование абонемента: {{ item.nametickets }}</h3></center></div>
                  <div class="adress"><h4>Номер авомобиля: {{ item.carnumber }}</h4></div>
                  <div class="adress"><h4>Цена: {{ item.price }}</h4></div>
                  <div class="adress"><h4>Дата и время: {{ item.datetimepaidtickets }}</h4></div>
                  <div class="adress"><h4>Начало срока действия: {{ item.startofvalidityperiod  }}</h4></div>
                  <div class="adress"><h4>Окончание срока действия: {{ item.expirationdate  }}</h4></div>
        </div>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>
            {% endfor %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="{% static 'index/js/avtorization.js' %}"></script>
</body>
</html>
{% endif %}
{% if "phonenumber" not in request.session %}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
</head>
<body>
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <img src="{% static 'index/img/parking-car.svg' %}" alt="Лого">
  <a class="navbar-brand logo" href="#">Оплата парковок</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Главная<li class="nav-item active"></li></a>
     <!--   <a href=""><li><i class="fas fa-address-card"></i> О нас<li class="nav-item active"></li></a> !-->
         <a href="{% url 'pricingplans' %}"><li><i class="fas fa-money-bill-wave-alt"></i> Тарифы<li class="nav-item active"></li></a>
         <a href="{% url 'payment' %}"><li><i class="fas fa-ruble-sign"></i> Оплата<li class="nav-item active"></li></a>
               <div class="personal_account"><a href="{% url 'authorization' %}"><li><i class="fas fa-user-circle"></i> Личный кабинет<li class="nav-item active"></li></a></div>
    </ul>
  </div>
</nav>
</header>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</body>
</html>
  <center><h1 class="parking">Вы не вошли в личный кабинет</h1></center>
{% endif %}
